APP_PORT=5000
DB_NAME=polyland
DB_USERNAME=xxxx
DB_PASSWORD=xxxx
DATABASE_URL="postgresql://username:password@127.0.0.1:5432/polyland-db?schema=public"
RPC_URL=https://polygon-amoy.g.alchemy.com/v2/jOma4wdP8AZUoqwf-MuvW
RPC_WS_URL=wss://polygon-amoy.g.alchemy.com/v2/jOma4wdP8AZUoqwf-MuvW
PRIVATE_KEY=xxxx
WALLET_ADDRESS=xxxx
PINATA_API_KEY=xxxx
PINATA_API_SECRET=xxxx
PINATA_JWT=xxxx
GATEWAY_URL=xxxx
ACCESS_TOKEN_SECRET=polyland2026
REFRESH_TOKEN_SECRET=refresh_polyland2026
FE_URL=http://localhost:5173
BE_URL=http://localhost:5000
CONTRACT_ADDRESS=0xbF6790D385828C46C56922Ff6Bd62315a5AE22a4
ETHERSCAN_API_KEY=B35D1ZJM6JCYDYQNR5PGSBRQZNU2BBIDDF
REDIS_URL=redis://127.0.0.1:6379
KEY_SECRET=xxxx
ADMIN_LAND=
BACKEND_PRIVATE_KEY=xxxx

# OLD CONTRACT ADDRESS
MINT_NFT_CONTRACT_ADDRESS=0xd19d7b63E64c3A28902f4234e8f1C137f9aeb33e
PAYMENT_CONTRACT_ADDRESS=0x4cb8AfFa0E4616A7Fb50A056905ae39766403d76
MINT_NFT_CONTRACT_ADDRESS_V3=0xf4859763888B90c6fd0e09dC4B462cA52b451bCB
PAYMENT_CONTRACT_ADDRESS_V3=0xb5013Adaac0BdB93F65aF8c099e7F38941368684
MINT_NFT_CONTRACT_ADDRESS_V4=0x5F9FDfF36C60AA23359E2d9A8163d910e2A7fa36
PAYMENT_CONTRACT_ADDRESS_V4=0x1b27A305F7D1E81b7C0De6e1817A14D0dd1A7f6f
CERTIFICATE_CONTRACT_ADDRESS_V6=0xC2e1C835E0274765Ce0a670AD02c85EEffa2aE1d
CONTRACT_ADDRESS_V7=0x30C215AcD8Ac2D5D4485733e2419E6bd7bb0adc3

MIDTRANS_CLIENT_KEY=xxxx
MIDTRANS_SERVER_KEY=xxxx